#all_users{
    padding: 10px;
    border: 1px solid rgba(16, 160, 133, 0.71);
    border-radius: 3px;
    margin-left: 50px;
    width: 280px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}
#all_users>ul{
    width: 100%;
}
#all_users li{
    margin: 5px;
    padding: 5px;
    background: rgba(16, 160, 133, 0.7);
    border-radius: 3px;
    width: 100%;
}
.list_style_none{
    list-style: none;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
.form-group input{
    margin-bottom: 5px;
}
.user-buttons{
    display: flex;
    justify-content: space-between;
}