.image-main{
    width: 200px;
    padding: 1px;
    border: 2px solid steelblue;
    position: relative;
    margin: 5px;
}
.image-main img{
    width: 100%;
}
.del_pic{
    position: absolute;
    top: 0;
    right: 0;
}